html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* Setup snippet is used ABOVE to normalize the style */

/* Global style */

html {
    font-size: 125%;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.15rem;
    background-color: white;
    color: #000;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img {
    display: block;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;

}



/* Header */
header {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header figure {
    width: 30%;
}

figure img.logo {
    max-width: 100px;
    max-height: 100px;
}

nav.wrapper {
    min-width: 60%;
}

ul.wideMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

ul.wideMenu li a {
    color: black;
}

ul.wideMenu li a:hover {
    text-shadow: rgb(255, 204, 0) 1px 0 10px;
}

.bannerSection {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    height: 40vh;
    
}

.bannerSection img {
    width: 100%;
}

.carouselItem{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: 250ms ease-in-out all;
}

.hideItem{
    opacity: 0;
    visibility: hidden;

}



/* Home page body */

.racer {
    width: 200px;
    height: 170px;
    border-radius: 100%;
}

.infoSection {
    padding: 30px 0;
}

th {
    border-bottom: 2px solid rgb(149, 87, 164);
    border-right: 2px solid rgb(149, 87, 164);
}

th, td {
    padding: 10px;
}

td {
    text-align: center;
}

.noStyleCell {
    border: none;
}

.upcomingRace {
    margin-top: 50px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.racerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.racerContainer li {
    border: 2px solid grey;
    width: calc(30% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 90%;
}

.racerContainer li p {
    text-align: center;
    font-size: 0.8rem;
}

.racerContainer li a {
    background-color: rgb(149, 87, 164);
    color: white;
    border-radius: 10px;
    height: 1.5rem;
    font-size: 0.8rem;
    padding: 5px;
    margin: 20px;
}


/* Footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px 40px 60px;
    background-image: linear-gradient(120deg, rgb(255, 255, 255), rgb(222, 201, 228));
    font-size: 0.6rem;
}

.footerLogo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.footerInfo {
    line-height: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

.socials a img{
    width: 30px;
    height: 30px;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    margin-top: 12px;
}


/* Error page */

.errorSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.errorMessage {
    width: 70%;
}

.errorLogo {
    width: 250px;
    height: 250px;
}

button {
    border: none;
    background-color: rgb(149, 87, 164);
    color: white;
    border-radius: 10px;
    height: 2rem;
    font-size: 1rem;
    padding: 5px;
}


/* Media queries for responsiveness */

@media (max-width: 960px){
    .racerContainer {
        flex-direction: column;
    }

    .racerContainer li{
        width: 60%;
        margin-bottom: 20px;
    }
}

@media (max-width: 800px){
    .bannerSection {
        height: 30vh;
    }
    }

@media (max-width: 700px){
    nav.wideMenu {
        min-width: 80%;
    }
}

@media (max-width: 600px){
    body{
        font-size: 0.8rem;
    }
    .racerContainer{
        width: 90%;
    }
    .racerContainer li {
        width: 100%;
    }

}

@media (max-width: 550px){
.bannerSection {
        height: 20vh;
    }

    footer {
        flex-direction: column;
    }

    footer .socials {
        flex-direction: row;
        justify-content: center;
    }
}

@media (max-width: 500px){
    /* Hamburger menu */
    nav.wrapper{
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: center;
    }
    .menu {
            position: absolute;
            display: block;
            right: 20px;
            padding: 20px;
            background-color: white;
            cursor: pointer;
            z-index: 2;
            border: 1px solid rgb(149, 87, 164);
            border-radius: 10px;
        }
        .menu .bar {
            width: 25px;
            height: 2px;
            background-color: rgb(149, 87, 164);
            margin: 3px 0;
            transition: 0.4s;
        }
    
        .menu.open {
            right: -45px;
            position: relative;
        }
    
        .menu.open .bar-1 {
            transform: rotate(40deg);
        }
    
        .menu.open .bar-2 {
            opacity: 0;
        }
    
        .menu.open .bar-3 {
            transform: rotate(-40deg);
            margin-top: -10px;
        }
    
        .wideMenu {
            height: 0;
            overflow: hidden;
    
        }
        .wideMenu li {
            margin: 0;
            padding: 0;
        }

        .wideMenu li a {
            color: white;
        }

        .wideMenu li a:hover{
            text-shadow: rgb(255, 204, 0) 1px 0 10px;
        }
    
        .wideMenu.navList {
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: right;
            align-items: flex-end;
            transition: height 0.4s;
            position: absolute;
            top: 115px;
            right: 0px;
            z-index: 2;
            margin-top: 30px;
    
        }
    
        .background {
            width: 0;
            height: 0;
            overflow: hidden;
        }
    
        .background.activeBack {
            background-color: rgb(149, 87, 164);
            opacity: 60%;
            position: absolute;
            top: 0;
            right: 0;
            width: 150px;
            height: 300px;
            z-index: 1;
            border-radius: 10px 0 0 10px;
        }


}

@media (max-width: 350px) {
    .bannerSection {
        height: 15vh;
    }
}